[MAIN]
cf_token =
cf_account_id =
ts_client_id =
ts_client_secret =
ts_token = [LEAVE BLANK]
ts_expires_at =
policy_name = Approved Device IPs Only
approved_devices = example, hostname
allowed_ips = a.public.non-natted.ip/32, fr:fr:ong:no-cap::/64