[MAIN]
cf_token =
cf_account_id =
ts_client_id =
ts_client_secret =
ts_token = [LEAVE BLANK]
ts_expires_at =
policy_name = Approved Device IPs Only
approved_tags = example-tag1, exampletag2
approved_devices = example-device, device2
